

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'; 


/* Font face declarations */ 

/*basic styles*/
html, body {
	margin: 0;
}
html {
	/*background: #88686A;*/
}
body, footer {
	font: Titillium Web, 100% Lato, Helvetica, sans-serif;
	background: white;
	width: 95%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0%;
	line-height: 1.6;
}
article, aside, section, nav, figure, header, footer {
	display: block;
}

section {
	margin-bottom: 2em ;
}
.footer {margin-bottom: 0; }

h1, h2, h3, h4 {
	font-weight: normal;
	font-family: Titillium Web, LatoLight, Helvetica, sans-serif;
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);*/
	color: #575451;
    /*color: white !important ;	*/
	margin: 0;
	line-height: 1;
}
h1 {
	font-size: 2.6em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.8em;
	/*text-transform: uppercase;*/
}
h4 {
	font: 1.2em Titillium Web, Lato, Helvetica, sans-serif;
	color: black;
}
p
 {
	margin: 0 0 1em;
	/* font-weight: bold;*/
}
a {
	color: #77A0B8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
code {
	color: red;
}

/* Next section ADAPTED From Lynda Forms with Flexbox 
######################################################  */

.hidden-field { 
	visibility: hidden; 
	}

/*.table-sub-heading */
.header-title h1,
.header-title h2,
.main-section h2,
#table-cont-fac .table-heading  {
	text-align: center;
	color: #0174B7 ;
	margin-bottom: .7em;
}

form  {   /* only first two of 3 sections */
/* .form-group // changed to panel-body for autoform */
	margin-bottom: 1em;
	padding: 10px;
	border-color: #CED1D6 ;
	border-width: 1px;
	border-style: solid;
}

form > .panel-default, 
.autoform-array-item-body > .panel-default {
	    background-color: #e3f2fd !important; /* pale blue - random */
}

.form-inline label {
	/*display: inline-block;*/
	min-width: 90px;
}

.menu-section , .footer,
.main-container > .panel-heading,
form > .panel > .panel-heading  {
	    /*background-color: #0174B7 !important ;  /*dull blue - slider */
  color: white !important ;
  background:linear-gradient(#0174B7 0px, #7EAFD2 100%) ;
  border-bottom-color:#DDDDDD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  box-sizing:content-box;
/*  color: #669FC7;
*/  min-height:25px;
  /*padding-left:12px;*/
  /*padding: -10px -10px 10px -10px;*/
  /*margin: -10px -10px 10px -10px; takes away the 10 from the .panel-body*/
/*  margin: 0 0;*/
  position:relative;
	text-align: center;
}

.menu-section a, .footer i,
.panel-heading  > .table-heading {
	color: white ;
	/*font: Titillium Web, 100% Lato, Helvetica, sans-serif;*/
}

.panel-title i {
	padding-right: .6em;
}

.main-container > .panel-body {
	    background-color: #0174B7 !important ;  
	    /*dull blue - slider - for the filler between the form panels */
}

.form  {
	    /* background-color: #333333 ;  /* footer charcoal */
}

.panel-body ul {
	/*background: #F6DDCE;*/
	list-style: none;
	margin: 0 0 2em;
	padding: 0;
}
.panel-body li {
	margin-bottom: 0.5em;
}

.panel-heading h2,
.panel-heading h3, 
.panel-heading p {
	/*margin-bottom: 1em;*/
	margin-bottom: 0em;
	margin-top: 0.2em;
	font-size: 1.6em;
	text-align: center;
    /*font-weight: bold;*/
}

/*.form-control { display: inline-block; }  overrides bootstarp which has block */

.form-group {
    margin-bottom: 1px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="checkbox"],
.form-group input[type="url"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select {
  /*display: inline-block;	*/
  box-sizing: border-box;
  padding: 0.6em 0.8em;
  color: #999;
  background: #fafafa; /*#f7f7f7*/
  border: 1px solid #e1e1e1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;  /* to counter Opera bug that maxes out height*/
}
.form-group input[type="text"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="date"]:focus,
.form-group input[type="checkbox"]:focus,
.form-group input[type="url"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="number"]:focus,
.form-food textarea:focus,
.form-group select:focus {
  color: #333;
  border: 1px solid #C17CCF;
  outline: none;
  background: #f2f2f2;
}


/* flex it flexbox styling separated here with many elements duplicated - to separate it from normal css and sho how little needed */

#table-cont-services {
	max-width: 500px ;
	/*display: block;*/
}

#table-cont-fac {
	max-width: 800px ;
	/*display: block;*/
}

/*.panel-body {*/
/* .main-container {	*/
	#service1, #service2, #service3, #service4 {
	display: flex;
	flex-wrap: wrap;
    background-color: white ;  /*dull blue *//*margin-right: 2em;  to have space between forms when side by side*/
} /*whole form is now a container*/

.panel {
	flex: 1 0 380px; /* form min width = 300 - then wrap.*/
	margin-right: 2em;  
	/* to have space between forms when side by side */
	max-width: 500px;
}

 .main-container {	
	flex: 1 0 600px; /* form min width = 300 - then wrap.*/
	 margin-right: -2em;  
	 /*super smart way to cancel out 2em far right panel-body margin-right that we don't want */
	max-width: 1200px;
}

/*.form-submit {
	flex: 0 0 100%;  no growing or shrinking and take up entire container width. To makeit sit on own line. 
} 
*/
.panel-body, .form-group {  
	display: flex;
	flex-wrap: wrap; /* side-side until width no longer allows -> wrap*/
	width: 100% ;
} /* Flex approach is to make li the "flex container" and then the label and input box are "flex items"*/

.form-control,		
.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="url"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select {
	flex: 1 0 150px;
	max-width: 600px; /* my addition for wide screens */
} /* grow=1 (1:1 ratio for growing of label:input box) / shrink=0 / basis=230 - start size = min-width at which wrapping starts  */

.form-group label {
	flex: 1 0 90px;
	max-width: 200px;
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.3em; 
}  /* 90px+230 =320 (label+input): about the smallest viewport worth targeting */

.checkbox-form {  
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;  
	/*allows us to specify how elemenets are alligned along the main axiz (horiz in this case (defualt)) space-between: equi-deistant spacing */
}

.checkbox-form > .panel-heading { 
	width: 100% ;
	max-height: 40px;
}

.checkbox-form  .form-group { 
	width: auto ;
}

.form-group input[type="checkbox"] {
	/*flex: 1 0 180px;*/
    flex: 0 0 1.5em; /* Icon will always be 1.5em with flex*/
    max-width: 150px; 
  cursor:pointer;
  display:inline-block;
  font-weight:200;
  /*font-size: 2em;*/
  color: #669FC7;
  line-height: 4em;
  margin: 0 0;
  min-height:25px;
  min-width:25px;
  position: absolute ;
  left: 10px;
  box-sizing: border-box;
  /*padding: 0.6em 0.8em;  */
} 

.radio label, .checkbox label {
	flex: 1 0 60px;
	max-width: 200px;
	margin-left: 2em ; 
	max-width: 150px;
    min-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
}	


/* ######################################################  */
/* My additions */

input[type="checkbox"]:checked + label::after {
	   color: #669FC7;
       content: '';
       position: absolute;
       width: 1.2ex;
       height: 0.4ex;
       background: rgba(0, 0, 0, 0);
       top: 0.9ex;
       left: 0.4ex;
       border: 3px solid #669FC7;
       border-top: none;
       border-right: none;   
       transform: rotate(-45deg);
}

.reactive-table thead ,
.reactive-table thead a {
	    background:linear-gradient(#0174B7 0px, #7EAFD2 100%) ;
		/* background-color: #0174B7 !important ;  /*dull blue - slider*/
	    color: white !important ;
}

.table-striped > tbody > tr:nth-child(odd) {
	    background-color: #e3f2fd !important; /* pale blue - random */
	}

.reactive-table .row-selected  {
	/*background-color: #FFC519 ;*/
	border: 5px solid #FFC519; 
	font-weight: bold;
}

.reactive-table .service-provider-yes {
	/*background-color: hsla(120, 100%, 50%, 1) ; /* 120 = standard green */
	border: 2px solid green; 
	margin: 0 2em;
}

.reactive-table .service-provider-no  {
	/*background-color: hsla(0, 100%, 50%, 1) ; /* 120 = standard green */
	border: 2px solid red;
	margin: 0 2em;
}

.table-totals-row {
    font-weight: bold;
	text-decoration: underline;
}

.submit-custom {
	display: block;
	flex: none ;
    align-self: flex-start ;
/*	position: absolute;
	left: 20px ;
	bottom: 20px;*/
	
}


/* ######### Styles for Advanced Menu (Lynda CH02-04)  ########## */

.menu-section  { 
  /*position: sticky;
  top: 0;
  z-index: 1;*/
  }

.logo-image {
	/*background: white ;*/
	height: 100%;
	/*max-height: 50px ;*/
	margin: -2px 10px 0 10px;
	}

.advanced-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 0px ;
        padding: 0;
    }

.advanced-nav li a {
    margin-top: 10px;
/*    display: flex;
    justify-content: flex-start;
*/}

  .advanced-nav li {
        display: flex; /* turns li into FB container too - to make <a>'s' fill VERTICLE space*/
        margin: 0;
        flex: 1 1.2 12px;  /*menu items mustn't shrink narrower than 12em- wrap rather*/
    }


.icon {
    flex: 0 0 1.5em; /* Icon will always be 1.5em with flex*/
    font-size: 1.5em;
    margin: .1em .5em;
}

.button-text {
    font-size: 1.5em;
    display: none;
}

.button-text span {
    display: block;
    font-size: 50%;
    font-weight: lighter;
    font-style: italic;
    display: none;
}

.login-box {
	padding: 15px 10px 0 15px ;
     border: 3px solid #e1e1e1;
     border-radius: 5px;
}
.login-box  h3,
.login-box  h4 {
     color: #e1e1e1;	
}

@media screen and (min-width: 30em) {
/*only for wider screens - same as previous chapter - single-level : */    
    .advanced-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    
    .advanced-nav li a {
    display: flex;
    width: 100%;    /* make sure <a>'s' fill width availabe - no spaces on end */
    justify-content: flex-start;
}

    .advanced-nav li {
        display: flex; /* turns li into FB container too - to make <a>'s' fill VERTICLE space*/
        flex: 1 0 5em;  /*menu items mustn't shrink narrower than 12em- wrap rather*/
    }

.button-text { display: inline-block; }
.button-text span { display: block; }

  }

/* Media queries ############################ */

 @media (max-width: 400px) {  /*for small screens: */
body {
	width: 99%; /* up from 80 to maximise narrow screens*/
	margin: 0;  /* removes page margins and replace with a small bit of padding */
	max-width: 400px ;
	padding: 0 0; /* skipped 2em space before end of page.*/
}

.logo-image img {
	/*display: none; */
	width: 6em; 
	/*margin: 0; padding: 0;*/
	margin: 0.6em 0.1em;
	}

.panel {
	flex: 1 0 260px; /* form min width = 300 - then wrap.*/ 
  }

.main-container,
.main-container > .panel-body > form ,
.panel > .panel-body,
form   > .panel-default  {
	margin: 0; 
	padding: 0 1px; 
	/* replace page margins with a small bit of padding */
	/*padding: 0;*/
	/*margin-top: 2px;*/
  }

.panel > .panel-heading {
	margin: 0;
	padding: 0;
}

.form-group input[type="text"],
.form-group input[type="date"],
/*.form-group input[type="checkbox"],*/
.form-group input[type="number"],
.form-group select ,
.form-group label ,
.form-group   {
  /*display: inline-block;	*/
  margin: 0;
  padding: 0.2em 0.1em;
/*  font-weight: normal;
  font-size: 0.9em;
*/   
   }

.form-group input[type="checkbox"]  {
  margin: 0;
  padding: 0.2em 1px;
  }

.form-group .checkbox {
	  padding: 0 1px;
	  margin: 0;
	}
 
 .checkbox label {
	flex: 1 60px;
	margin-left: 35px ; 
	max-width: 110px;
    /*min-height: 20px;*/
    /*padding-left: 30px;*/
    /*padding-right: 20px;*/
}	
.panel-body h3 {
	/*margin-bottom: 1em;*/
	margin: 0em;
  }

.reactive-table,
#facility-table {
	font-size: .8em;
	width: 98%;
	/*max-width: 340px ;*/
}

.reactive-table th {
/*	overflow: wrap;
	text-overflow: wrap;
*/	overflow-wrap: break-word;
	max-width: 50px;
}

.reactive-table td._id {
	/*max-width: 50px;*/
}

} /* @media (max-width: 500px) */  


#loading-template, 
#homeContent,
body {
	min-height: 600px; 
	/* give these blank pages some height so the footer isn't next to the menu bar */
}

#homeContent {
	margin-left: 2% ;
}

#header-image img {
	max-width: 95% ;
/*	width: 95% ;*/
}

/* NVD3 chart styles  */

        svg {
            display: block;
                    }
        #bg-bar-chart-nvd3, svg {
            margin: 0px;
            padding: 0px;
            height: 100% !important ;
            /*height: 400px;*/
            width: 100% !important ;
            max-width: 1000px;
           }

/* Google chart styles  */

svg  g  {  
          	font-family: Titillium Web, LatoLight, Helvetica, sans-serif;
                 }

svg > g > text[text-anchor="start"] {  /* heading */
            font-size:  1.3em;
                 }

 g > g > text[text-anchor="middle"] { /* x-y axis titles*/
            font-size:  1.1em;
            font-weight: bold;
                 }

 g > g > g > text[text-anchor="start"] {  /* anotation titles*/
            font-size:  1.0em;
            /*font-weight: bold;*/
                 }

#reg-ben-charts div {
	display: inline-block;
}                 