<!-- ************************************************************
Template for the facility data page. 
Initially displays a list of rows from the collection in a {{ > reactiveTable}}
Then when one is selected, hides the table section and displys the view/edit {{> quickForm }}
************************************************************ -->

<template name="facility">

 {{#if Template.subscriptionsReady}}

  {{#if isOFSListed}} <!-- show only until a row is selected --> 
<div class="header-title">
      <h2 class="table-heading">Facilities list</h2>
 </div>
 <div class="table-container" id="table-cont-services">
 <p class="table-sub-heading"> - filter with the text box then select a row to view/edit it's details</p>
   {{> reactiveTable settings=settingsFac fields=fields class="table table-bordered table-striped table-hover" id="service-table" }}
   <!-- Only show forms  -->
   </div>   <!-- #table-cont-serv -->
  {{/if}} <!-- unless isOFSSelected -->

  {{#if isOFSSelected }}  <!-- isOFSSelected -->
<div class="table-container" id="table-ofs-merged">
  <h2 class="table-heading">This <b>Facility</b> is the site where these <b>services</b> are <i>provided by</i> the listed <b>organisation</b>:</h2>
   {{> reactiveTable settings=settingsOFSMerged fields=fields class="table table-bordered table-striped table-hover" id="ofs-merged-table-org" }}
 </div>   <!-- #table-ofs-merged -->

  <div class="main-container panel panel-default" id="form-cont-services">
    <div class="panel-heading">
     <h2 class="table-heading">Details for: {{OFSDesc}}</h2>
     <p class="table-sub-heading"> - view and edit all the data for the selected facility </p>
 </div> <!-- .panel-heading -->
   <div class="panel-body">
     {{> quickForm collection=Collections.Facility id="service1" type=formTypeOFS doc=selectedOFSDoc omitFields="xyz"  }}   
     <!-- buttonClasses="XXsubmit-custom" -->
   </div>  <!-- .panel-body -->
 </div>   <!-- #form-cont-services -->
  {{/if}} <!-- isOFSSelected -->

  {{#if isQECDSelected}}
  <div class="main-container panel panel-default" id="form-cont-sq-fac">
   <div class="panel-heading">
       <h2 class="table-heading">Quality data for: {{OFSDesc}}</h2>
       <p class="table-sub-heading"> - add or edit quality survey data for the selected facility </p>
   </div> <!-- .panel-heading -->
   <div class="panel-body">
      {{> quickForm collection=Collections.FacilityQualityECD id="service4" type=formTypeSQECD doc=selectedSQECDDoc omitFields="facID" }}   
   </div>  <!-- .panel-body -->
   </div>   <!-- #form-container-sq-fac -->
  {{/if}} <!-- isQECDSelected -->

  {{else}}
    Loading
  {{/if}}

</template> <!-- facility -->
