<!-- ************************************************************
Template for homeContent page which shows some charts for a reporting dashoard. 
Also adds the loadData template to call the loadCsvData helpers to load test data tables
************************************************************ -->

<template name="homeContent">

  <div>  <!-- row --> 
    <!-- <p> <strong> Select an icon in the top menu bar to search, view or edit data for: <br> - <i class="fa fa-cog"></i> Service, <i class="fa fa-group"></i> Organisation, <i class="fa fa-map-marker"></i> Facility, or <i class="fa fa-user"></i> Staff. </strong>     </p>  -->
    <!-- <br> <br>     This page will soon include: <br> - data search options to select the data to view <br> -->

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="XXactive"><a href="#tab-search-select" aria-controls="tab-search-select" role="tab" data-toggle="tab">Search and select data</a></li>
    <li role="presentation" class="active"><a href="#tab-search-map" aria-controls="tab-search-map" role="tab" data-toggle="tab">Map search</a></li>
    <li role="presentation"><a href="#tab-dashboard" aria-controls="tab-dashboard" role="tab" data-toggle="tab">Dashboard</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="tab-search-select">
      <div class="table-container" id="table-ofs-merged">
          <h1 class="header-title">Search and select data for:<br><b>Services</b> <i>provided by</i> <b>Organisations</b> <i>at</i> <b>Sites</b> <i>by</i> <b>Staff</b></h1>
        <!-- <h2 class="table-heading">Search and select data for: <b>Services</b> <i>provided by</i> <b>Organisations</b> <i>at</i> <b>Sites</b> <i>by</i> <b>Staff</b></h2> -->
         {{> reactiveTable settings=settingsOFSMerged fields=fields class="table table-bordered table-striped table-hover" id="ofs-merged-table" }}
      </div>   <!-- #table-ofs-merged -->
    </div> <!-- tab-pane 1  -->

    <div role="tabpanel" class="tab-pane active" id="tab-search-map">
        <div class="map-section row">
          <h1 class="header-title">ECD Site locations </h1>
          <p> The pin colour code is based on number of "flagged issues": 
              <br> >= 4 : red / 3: orange / 2: yellow / 1: blue / 0: green
              <br> - click on the marker to view more details
              </p>
        <div class="map-container">
          {{> googleMap name="searchMap" options=searchMapOptions}}
          </div> <!-- map-container -->
          <br><br>
        </div> map-section
    </div> <!-- tab-pane 2  -->

    <div role="tabpanel" class="tab-pane" id="tab-dashboard">
  <!-- <div class="header-title"> -->
      <h1 class="header-title">Status Dashboard</h1> 
 <!-- </div> -->

 <div class='container' id='main-container'>

 <section id="charts">
 <div class="row" id="reg-ben-charts" >
      <div id="chart-01-registration-status">
        <!-- For Google chart (testing) -->
     </div> 

     <div id="chart-01-registration-status-ben">
        <!-- For Google chart (testing) -->
     </div> 
 </div> <!-- .row -->  

 <div id="chart-02-staff-training-needs">
    <!-- For Google chart (testing) -->
 </div> 

<div id="chart-03-basic-services">
    <!-- For Google chart (testing) -->
</div> 

<div id="chart-04-sbg-totals">
    <!-- For Google chart (testing) -->
 </div> 

<div class="row">
  <div class="col-xs-12">
              <a href="/reporting" id="reports-text-versions">
                  <div class="icon">
                      <i class="fa fa-report"></i>
                  </div>
                  <div class="button-text">
              Detailed tabular versions available here.
                  </div>
              </a>
  </div>
  </div> <!-- row -->   

  </section>
  </div> <!-- container #main-container for charts  -->
 
 </div> <!-- tab-pane 3 tab-dashboard  -->

 </div>  <!-- tab-content -->

</div>  <!-- .row  #homeContent-->

</template>  <!-- homeContent -->

<!-- ///////////////////////////////////////////// -->  

<template name="helpContent">

<div id="help-videos">
  
<h3 class="table-heading">3 Minute app tour</h3>
<article id="intro-video-large" class="help-video video-wrapper">
           <iframe width="560" height="315" src="//www.youtube.com/embed/sR24YZGRq_s?&amp;showinfo=1" frameborder="1" allowfullscreen=""></iframe>     
 </article>

  <h3 class="table-heading"><br>Background to the project</h3>
  <article id="background-video-large" class="help-video video-wrapper">
           <iframe width="560" height="315" src="//www.youtube.com/embed/44G9j91jiC8?&amp;showinfo=1" frameborder="1" allowfullscreen=""></iframe>     
    </article>
    
    <h3 class="table-heading"><br>App features, 30s overview</h3>
    <article id="quick-video-large" class="help-video video-wrapper">
           <iframe width="560" height="315" src="//www.youtube.com/embed/T4y5cqWOkxs?&amp;showinfo=1" frameborder="1" allowfullscreen=""></iframe> 
           <br>    
    </article>  
  </div> <!-- #help-videos -->
</template>  <!-- helpContent -->

<!-- ///////////////////////////////////////////// -->

<template name="loadData">

  <div class="col-xs-12">
              <a href="" id="delete-reload-all-data">
                  <div class="icon">
                      <i class="fa fa-trash-o"></i>
                  </div>
                  <div class="button-text">
              DELETE and RELOAD all test tables.
                  </div>
              </a>
  </div>

  <div class="col-xs-12">
              <a href="" id="reporting-table-reload">
                  <div class="icon">
                      <i class="fa fa-registered"></i>
                  </div>
                  <div class="button-text">
              Call the shell Mongo shell script to reload reporting tables.
                  </div>
              </a>
  </div>

<div class="row">
  <div class="col-xs-12">
              <a href="" id="count-ofs-data">
                  <div class="icon">
                      <i class="fa fa-bar-chart"></i>
                  </div>
                  <div class="button-text">
              Count all test data tables.
                  </div>
              </a>
  </div>
   <div class="col-xs-12">
              <a href="" id="load-ofs-data">
                  <div class="icon">
                      <i class="fa fa-upload"></i>
                  </div>
                  <div class="button-text">
              Upload OFS test data and/or summarise it.
                  </div>
              </a>
  </div>
  <div class="col-xs-12">
              <a href="" id="load-quality-data">
                  <div class="icon">
                      <i class="fa fa-upload"></i>
                  </div>
                  <div class="button-text">
              Upload Quality test data and/or summarise it.
                  </div>
              </a>
  </div>
  
  <div class="col-xs-12">
              <a href="" id="load-other-data">
                  <div class="icon">
                      <i class="fa fa-upload"></i>
                  </div>
                  <div class="button-text">
              Upload Staff, ServBeneficiary and append ServExternalFunders + OrgManagementCommittee test data.
                  </div>
              </a>
  </div>

  <div class="col-xs-12">
              <a href="" id="delete-ofs-data">
                  <div class="icon">
                      <i class="fa fa-trash-o"></i>
                  </div>
                  <div class="button-text">
              DELETE all test data tables.
                  </div>
              </a>
  </div>

  </div> <!-- row -->
</template>  <!-- staff -->




