<!-- ************************************************************
Template for the staff data page. 
Initially displays a list of rows from the collection in a {{ > reactiveTable}}
Then when one is selected, hides the table section and displys the view/edit {{> quickForm }}
************************************************************ -->

<template name="staff">

 {{#if Template.subscriptionsReady}}

  {{#if isOFSListed}} <!-- show only until a row is selected -->
<div class="header-title">
      <h2 class="table-heading">Staff list</h2>
 </div>
 <div class="table-container" id="table-cont-services">
 <p class="table-sub-heading"> - filter with the text box then select a row to view/edit it's details</p>
   {{> reactiveTable settings=settingsOFSTable fields=fields class="table table-bordered table-striped table-hover" id="service-table" }}
   <!-- Only show forms  -->
   </div>   <!-- #table-cont-serv -->
  {{/if}} <!-- unless isOFSListed -->

  {{#if isOFSSelected}}
  <div class="main-container panel panel-default" id="form-cont-services">
    <div class="panel-heading">
     <h2 class="table-heading">Details for: {{OFSDesc}}</h2>
     <p class="table-sub-heading"> - view and edit all the data for the selected staff </p>
 </div> <!-- .panel-heading -->
   <div class="panel-body">
     {{> quickForm collection=Collections.Staff id="service1" type=formTypeOFS doc=selectedOFSDoc omitFields="staffRepQualified"  }}   
     <!-- buttonClasses="XXsubmit-custom" -->
   </div>  <!-- .panel-body -->
 </div>   <!-- #form-cont-services -->
  {{/if}} <!-- isOFSSelected -->

  {{else}}
    {{> loading}} 
  {{/if}}

</template> <!-- staff -->
<!-- //################################################// -->